<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.platform.sdk.demo" android:versionCode="1"
	android:versionName="1.0">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19" />

	<application android:allowBackup="true"
	    android:name="com.hjr.sdkkit.framework.mw.app.SDKBaseApplication"
		android:icon="@drawable/ic_launcher" android:label="@string/app_name">
		<activity 
		    android:name="com.platform.sdkkit.ui.SDKLauncherActivity"
			android:configChanges="screenSize|keyboardHidden|orientation"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
     
        <!-- 游戏密钥：填入gamekey -->
		<meta-data android:name="HJR_GAMEKEY" android:value="441382c87fac1ea00185f0309db16ae7" />
	
		<!--请勿修改！ -->
		<meta-data android:name="HJR_CHANNEL" android:value="\ 0103" />
		
		<!--注意：在打正式包之前，务必修改 HJR_DATA_URL_DEBUG = false -->
		<meta-data android:name="HJR_DATA_URL_DEBUG" android:value="true" />
	
	</application>

</manifest>
